@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 5px;
    color: black;
}
nav>ul>li{
    display: inline;
}
#btn{
    margin-left:80%;
}
nav li>a, button>a{
    text-decoration: none;
}
header{
    background-image: url('../assets/Hero-bg.png');
    /* Hero-bg */
    position: center;
    width: 1195px;
    height: 530px;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 4462px;
    background-repeat: no-repeat;
    color: rgb(13, 19, 33);
}
#image{
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: 20px;
}
#banar-content{
    width: 670px;
    margin-left: 20%;
}
#title{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin: 22px 0px;
}
#descript{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}

#btun{
    color: rgb(255, 251, 251);
    font-size: 17px;
    text-align: center;
    border-radius: 8px;
    background: rgb(90, 99, 119);
    width: 180px;
    height: 55px;
    margin-left: 42%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 150px;
}
.container-title{
    text-align: center;
}

h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
#container-pg{
    margin:0 8%;
    opacity: 0.7;

}
.cards{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.card{
    display: flex;
    gap: 25px;
}
.card img{
    height: 180px;
    width: 220px;
}
.card-content{
    margin-top: 20px;
    width: 500px;
   
}
.card-content h3{
    width: 500px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.card-content p{
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
    font-family: Azeret Mono;
    line-height: 20px;
    margin: 15px 2px;
}
.card-content button{
    padding: 8px 12px;
    background-color: white;
}


.video{
        margin: 40px 13%;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.2);
        border-radius: 16px;
}
#video{
    border-radius: 20px;
}

.title-pg{
    margin: 10px 20%;
}
.heading{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.pargrph{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.target-continer{
    display: flex;
    gap: 24px;
}
.target{
    padding:30px;
    border-radius: 5px;
    background: rgba(255, 76, 30, 0.05);
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    width: 220px;
}
#html{
    background: rgba(255, 76, 30, 0.05);
}
#css{
    background: rgba(0, 76, 232, 0.05);
}
#js{
    background: rgba(255, 223, 0, 0.05);
}
.Section-bar{
    width: 1110px;
    height: 460px;
    align-items: center;
    margin: 0px 10%;
    border-radius: 30px;
}
.Target-img{
    width: 10px;
    height: 15px;
}

footer{
   border-radius: 16px;
   background-image: url("../assets/handshake.jpg");
   width: 95%;
   /* height: 465px; */
   background-size: cover;
   background-repeat: no-repeat;
   padding: 90px 58px 80px 48px;
   ;
}
#last-title{
    text-align: center;
}
#last-head{
        color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
}
#last-parag{
        color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;

}#last-div{
    width: 400px;
    height: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
#last-sub{
    width: 120px;
    height: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
#End{
    display: flex;
    margin-top: 30px;
    gap: 50%;
}