@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 5px;
    color: black;
}
nav>ul>li{
    display: inline;
}
#btn{
    margin-left:80%;
}
nav li>a, button>a{
    text-decoration: none;
}
header{
    background-image: url('../assets/Hero-bg.png');
    /* Hero-bg */
    position: center;
    width: 1195px;
    height: 530px;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 4462px;
    background-repeat: no-repeat;
    color: rgb(13, 19, 33);
}
#image{
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: 20px;
}
#banar-content{
    width: 670px;
    margin-left: 20%;
}
#title{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin: 22px 0px;
}
#descript{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
nav button{
   
}
#btun{
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 180px;
    height: 55px;
    margin-left: 42%;
}

.container{
    position: static;
    width: 946px;
    height: 1233px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
   
}
h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.heading{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.pargrph{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
#div1{
    display: flex;
}
.target-continer{
    display: flex;
    gap: 24px;
}
.target{
    padding:30px;
    border-radius: 5px;
    background: rgba(255, 76, 30, 0.05);
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.section-title{
    text-align:center ;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.section-descript{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.Section-bar{
    position: static;
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 111px 0px;
}
.last{
    border-radius: 16px;
   background-image: url("../assets/handshake.jpg");

}